[dmm]
port=80

[db]
db_type=postgres
username=dmm
password=dmm
db_host=localhost
db_port=5432
db_name=dmm

[sense]
profile_uuid=
sense_keep_alive_seconds=60

[prometheus]
host=
user=
password=

[fts]
fts_host=https://fts3-pilot.cern.ch:8446
cert=/opt/certs/cert.pem
key=/opt/certs/key.pem
monit_host=https://monit-grafana.cern.ch
monit_auth_token=
default_num_streams=20

[rucio]
max_retries=1

[fts-streams]
T2_US_SDSC-T2_US_Caltech=400
T2_US_Caltech-T2_US_SDSC=400
T2_US_SDSC-T1_US_FNAL=200
T1_US_FNAL-T2_US_SDSC=200

[daemons]
rucio=10
dmm=10
sense=10
fts=10
monit=60
db=7200

[vlan-ranges]
T2_US_SDSC-T2_US_Caltech=3602-3606
T2_US_SDSC-T2_US_Caltech_Test=3602-3606